---
layout: layouts/base.njk
title: Archive
description: All of my posts in reverse chronological order | Max Ivanov
---
{% set headerContent %}
  <h1>Archive</h1>
{% endset %}
{% include "page-header.njk" %}

<div class="layout-width-limiter">
  {% set posts = collections.posts %}
  {% include "post-list.njk" %}
</div>
