---
layout: layouts/base.njk
---
<div class="bg--2">
  <div class="layout-width-limiter vertical-spacer-top layout-row">
    <div class="layout-col-1"></div>
    <div class="layout-col-2 font-regular">
      <p>Personal blog by Max Ivanov, Software Engineer / Cloud Architect.</p>
      <br/>
      <p>I write about Azure, AWS, Serverless, DevOps, fullstack TypeScript, peppered with thoughts on dev life.</p>
    </div>
  </div>
</div>

{% set headerContent %}
  <h2>Latest posts</h2>
{% endset %}
{% include "page-header.njk" %}

<div class="layout-width-limiter">
    {% set posts = collections.posts | reverse | head(3) | reverse %}
    {% include "post-list.njk" %}
</div>
