---
layout: layouts/base.njk
title: Personal blog by Max Ivanov
---
<div class="bg--2">
  <div class="layout-width-limiter vertical-spacer-top layout-row">
    <div class="layout-col-1"></div>
    <div class="layout-col-2">
      <p>Personal blog by Max Ivanov, Software Engineer / Cloud Architect.</p>
      <br/>
      <p>I write about Azure, AWS, Serverless, full-stack TypeScript, peppered with thoughts on dev life.</p>
    </div>
  </div>
</div>

{% set headerContent %}
  <h2>Latest posts</h2>
{% endset %}
{% include "page-header.njk" %}

<div class="layout-width-limiter layout-row">
  <div class="layout-col-1"></div>
  <div class="layout-col-2">
    {% for post in collections.posts | reverse | head(3) %}
      <div class="post-row-sm">
        <time class="posts__post-row-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | monthAndDay }}</time>
        <a href="{{ post.url | url }}" class="posts__post-row-title">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
        <p class="posts__post-row-description">{{ post.data.description }}</p>
      </div>
    {% endfor %}
  </div>
</div>
