<div class="bg--2">
  <div class="layout-width-limiter">
    <div class="layout-row page-header">
      <div class="layout-col-1"></div>
      <div class="layout-col-2">
        {{ headerContent | safe }}
      </div>
    </div>
  </div>
</div>
