---
type: page
meta:
  language: en-US

eleventyComputed:
  meta:
    site:
      name: "{{ metadata.title }}"
      description: "{{ metadata.description }}"
      url: "{{ metadata.url }}"
    title: "{{ title or metadata.title }}"
    description: "{{ description or metadata.description }}"
    image:
      src: "{% if image %}{{ metadata.url }}{{ image }}{% endif %}"
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta property="og:title" content="{{ title or metadata.title }}">
    <meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
    <meta property="og:description" content="{{ description or metadata.description }}">
    <meta name="twitter:site" content="@max_v_i">
    <meta name="twitter:title" content="{{ title or metadata.title }}">
    <meta name="twitter:description" content="{{ description or metadata.description }}">
    {% if image %}
    <meta property="og:image" content="{{ metadata.url }}{{ image }}">
    <meta name="twitter:image" content="{{ metadata.url }}{{ image }}">
    <meta name="twitter:card" content="summary_large_image">
    {% endif %}
    {% if tags %}
    <meta property="og:type" content="article">
    {% endif %}
    {% jsonLdScript meta, type, tags %}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.9.6/base.min.css">
    <link rel="stylesheet" href="{{ '/css/prism-theme.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    {% if isProd %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MP7L71RW6V"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-MP7L71RW6V');
    </script>
    {% endif %}
  </head>
  <body>
    <header class="bg--1">
      <div class="layout-width-limiter layout-row vertical-padding-1">
        <div class="layout-col-1 header__logo">
          <a href="{{ '/' | url }}">{{ metadata.title }}</a>
          <img alt="Max Ivanov" class="header__logo-img" src="/img/profile.png" />
        </div>

        <ul class="layout-col-2 nav">
          <li class="nav-item{% if '/archive/' == page.url %} nav-item-active{% endif %}"><a href="/archive/">Archive</a></li>
          <li class="nav-item{% if '/tags/' == page.url %} nav-item-active{% endif %}"><a href="/tags/">Tags</a></li>
          <li class="nav-item{% if '/about/' == page.url %} nav-item-active{% endif %}"><a href="/about/">About</a></li>
        </ul>
      </div>
    </header>

    <main class="vertical-spacer-bottom">
      {{ content | safe }}
    </main>

    <footer class="footer bg--1">
      <div class="layout-width-limiter layout-row vertical-padding-1">
        <div class="layout-col-1 footer-social-links">
          <a href="mailto:hello@maxivanov.io">hello@maxivanov.io</a> ·
          <a href="https://github.com/maximivanov">GH</a> ·
          <a href="https://twitter.com/max_v_i">TW</a> ·
          <a href="https://linkedin.com/in/max--ivanov/">LI</a>
        </div>

        <p class="layout-col-2">
          © Max Ivanov
        </ul>
      </div>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
